@model List<OBSC.Entities.MainTb>
<h1>MAIN Admin Page</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bus No.</th>
      <th scope="col">Time dept</th>
      <th scope="col">Route</th>
        <th scope="col">Unit</th>
      <th scope="col">Cor</th>
      <th>Pass Ticket</th>
      <th>Bag Ticket</th>
      <th scope="col">Passenger</th>
      <th scope="col">Drivers Name.</th>
      <th scope="col">Conductors Name</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var main in Model)
    {
    <tr>
      <th scope="row">@main.Id</th>
      <td>Mark</td>
      <td>Otto</td>
     
    </tr>
    }
    
   
  </tbody>
</table>